{{layout "layout"}}

<div id="doc2" class="yui-t1">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>${name}</h1>
					<img src="Profile.JPG" width=180 height=140 onclick="image()"/>

				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="https://github.com/sean17">Github</a>
							<a id="pdf" href="https://twitter.com/#!/seanzawi">Twitter</a></h3>
						<h3><a href="mailto:adsfad" + ${email} +"sdjklaf">${email}</a></h3>
						<h3>${date}</h3>
						<h3>${test}</h3>
						<h3>github: sean17</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->
		<div id="bd">
					<div class="yui-gc">
						<div class="yui-u first">
							<h2><a id="curpdf">About Me</a></h2>
						</div>
					</div>
		</div>
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-gf">
						<div class="yui-u first">
						</div>					
						<table>
<tr>
<td><a id="pdf" href="./">About Me</a></td>
<td></td>
<td><a id="pdf" href="research.html">Research</a></td>
<td />
<td><a id="pdf" href="sean_resume.html">Resume</a></td>
</tr>
<tr>
<td></td>
<td><a id="pdf" href="projects.html">Projects</a></td>
<td></td>
<td><a id="pdf" href="courses.html">Courses</a></td>
</tr>
</table> 
						<div>
							<p class="enlarge">
								Hello, my name is Sean Zawicki and I'm a 21 year old computer science major attending SUNY at Buffalo.  I am a somewhat active runner who is very passionate about solving real-world problems using bleeding edge technolgies.

							</p>
						</div>
					</div><!--// .yui-gf -->
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->
						
		<div id="ft">
			<p>Sean Zawicki &mdash; <a href="mailto:seanzawi@buffalo.edu">${email}</a>&mdash; (585) - 813-4079</p>
		</div><!--// footer -->
	</div><!-- // inner -->
</div><!--// doc -->