{{layout "layout"}}


<div id="doc2" class="yui-t1">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>${title}</h1>
					<img src="CourslyTeam.JPG" width=190 height=140 onclick="image()"/>

				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="https://github.com/sean17">Github</a>
							<a id="pdf" href="https://twitter.com/#!/seanzawi">Twitter</a></h3>
						<h3><a href="mailto:seanzawi@buffalo.edu">seanzawi@buffalo.edu</a></h3>
						<h3>(585) - 813-4079</h3>
						<h3>@seanzawi</h3>
						<h3>github: sean17</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->
		<div id="bd">
					<div class="yui-gc">
						<div class="yui-u first">
							<h2>${title}</h2>
							<h2><a id="curpdf">${title}</a></h2>
						</div>
					</div>
		</div>
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-gf">
						<div class="yui-u first">
						</div>					
						<table>
<tr>
<td><a id="pdf" href="./">About Me</a></td>
<td></td>
<td><a id="pdf" href="research.html">Research</a></td>
<td />
<td><a id="pdf" href="sean_resume.html">Resume</a></td>
</tr>
<tr>
<td></td>
<td><a id="pdf" href="projects.html">Projects</a></td>
<td></td>
<td><a id="pdf" href="courses.html">Courses</a></td>
</tr>
</table> 
						<div>
							<p class="enlarge">
								I've been blessed with an abundance of opportunities in my life.  Below are some of the projects I've been able to work on.
							</p>
						</div>
					</div><!--// .yui-gf -->
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->
						<div class="yui-u first">
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2><a id="curpdf" href="http://cours.ly">Cours.ly</a></h2>
								<h3>Front-End Developer</h3>
								<h4>January 2012 - Present</h4>
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
								<p class="enlarge">Cours.ly is a social educational platform that enables users to organize, engage and share.  We are a company focused heavily on the end-user experience.  Through Cours.ly I have been able to learn an incredible amount about javascript along with its many frameworks and platforms.  Our front-end consists of javascript with Spinejs and our backend uses Ruby on Rails as well as Nodejs.
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2><a id="curpdf" href="http://cours.ly/presentation">Impress.ly</a></h2>
								<h3>Front-End Developer</h3>
								<h4>March 2012 - Present</h4>
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
								<p class="enlarge">As a part of Cours.ly, our team decided to develop a useful slide creation tool called Impress.ly.  The tool is used to author slides interpretted by Impressjs, as this feature currently does not exist for Impressjs.  The project was largely developed during UBHacking 2012 and was strong enough to be the winning project.
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2><a id="curpdf">Distributed Chat Messenger</a></h2>
								<h3>Solo Developer</h3>
								<h4>January 2012 - Present</h4>
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
								<p class="enlarge">Expanding my understanding of Sockets and Android programming, I have developed a simple chat messenger that allows for 5 Android emulators to chat amongst each other.  This project has been useful as a proof of concept for Distributed Systems theories as well as a simple project in Android.
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2><a id="curpdf">Wearable Track Pad</a></h2>
								<h3>Solo Developer</h3>
								<h4>May 2011</h4>
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
								<p class="enlarge">Computer Scientists typically avoid getting too close to hardware.  The closest I've come is with Arduino, designing a trackpad as "proof of concept".  I used conductive fabric to for the trackpad surface.  I then used an Arduino Uno to trace finger location and display the result graphically in a visual program using Python.
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2><a id="curpdf">UB Bus Tracking System</a></h2>
								<h3>Project Leader</h3>
								<h4>September 2011 - Present</h4>
						</div><!--// .yui-u -->
						<div class="yui-u">
							<div class="job last">
								<p class="enlarge">Those of you that are familiar with the UB-Stampede are well aware that it is a spotty form of transportation between UB's North and South campuses at best.  Along with a few others, I have been leading a group of undergraduates to design a system capable of tracking the busses and displaying their location to students.  This system will be using Nexus S phones to track the busses and display the results using a google maps API.
								</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
		<div id="ft">
			<p>Sean Zawicki &mdash; <a href="mailto:seanzawi@buffalo.edu">seanzawi@buffalo.edu </a>&mdash; (585) - 813-4079</p>
		</div><!--// footer -->
	</div><!-- // inner -->
</div><!--// doc -->